*.bbl
*.blg
*.fls
*.fdb_latexmk
*.gz
*.out
*.log
*.toc
*.aux
*.DS_Store
*.xdv
*.dat
*.err
*.out
host.txt
*.jld2
.history
*.pdf
*.png
*.jpg
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints/*

Manifest.toml

docs/build
.vscode
.history
LocalPreferences.toml
run/